@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 class-background-color-black">Welcome, dear guest</h1>
    <p>Learn about <a href="https://ztu.edu.ua/">ZTU</a>.</p>
    <a href="../New/Index"><div class="button">New</div></a>
</div>
