@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<img class="images" src="https://scontent.fods8-1.fna.fbcdn.net/v/t39.30808-1/425588948_25119702470961643_4438419881699715371_n.jpg?stp=dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=kgILZJD6OKUAX_NcJXw&_nc_ht=scontent.fods8-1.fna&oh=00_AfCPRuHHPhbz308hMtPGbJz2FFaGQyTHA_3SwH_9GRZiLg&oe=660AA766" 
    alt="Morozov" />
<p>Morozov's <a href="https://ztu.edu.ua/teacher/323.html">ZTU</p></Morozov's></a>
<p>Morozov's <a href="https://www.facebook.com/morozov.andriy/?locale=uk_UA">Facebook</p></a>
@{
}
