@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<a href="https://www.sana-commerce.com/">
    <img class="images" src="https://s.dou.ua/CACHE/images/img/static/companies/NEW_sana_logo_diapositive_-_red_main/dd5f1f943411d31a26ffeb1a8b8d8d9c.png" alt="Sana">
    </img></a>
<p class="class-background-color-black">
    Sana Commerce is a B2B e-commerce software company headquartered in the Van Nelle Factory,
    located in Rotterdam, The Netherlands. Sana Commerce was founded in 2008 by Jan Kees de Jager and Karel van der Woude</p>
@{
}
