@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<p class="new-class">It is FICT</p>
<a href="https://ztu.edu.ua/department/3.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLx5BYNaIQ4zdRHqutBwp61IQy8ATjkWK8vnuoXGqXOg&s" alt="Fict" /></a>
@{
}
